{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <a href="{% url 'blog'%}">
            <h1>Bosh sahifa</h1>
        </a>
        <a href="{% url 'createblog' %}">Blog qoshish</a>
    </div>
    <div>
        {% if user.is_authenticated %}
        <p>Hush kelipsiz {{user.username}}</p>
        <form action="{% url 'logout'%}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Chiqish</button>
        </form>
        {%else%}
        <p>saytga kirish</p>
        <a href="{% url 'login' %}">Sign in</a>
        <a href="{% url 'singup' %}">Sign up</a>

        {% endif%}
    </div>
    {%block content%}

    {%endblock content%}
</body>

</html>